*.h5
*.mp4
runs/
.ipynb_checkpoints/
dataset/
.camera_venv
*.zip
*.rar
*.jpg
*.png
*.txt
__pycache__/
*.pt
.venv/
.pytest_cache/

# ml models dataset
ML models/accident detection/dataset
ML models/face behaviour rec/custom/dataset
ML models/fire detection YOLOv8/dataset
ML models/gun shot/dataset
ML models/license plate rec/dataset
ML models/Vehicle detection YOLOv8/dataset-vehicles
